*{
    margin: 0; 
    padding: 0;
}

header {
    background-color: blue;
    width: 100%;
    color: white;
    height: 10%;
}

a {
    color: white;
}

nav ul li {
    display: inline-block;
    /*margin-right: 50px;*/
    margin-top: 30px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 45px !important;
    margin-top: 15px;
}